name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - '12.x'
          # - '13.x'

    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Prettier & ESLint
        run: yarn lint
      - name: TypeScript
        run: yarn tsc
      - name: Tests
        run: sudo yarn test
