name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - '15.x'

    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: TypeScript
        run: yarn build
      - name: Prettier
        run: yarn prettierlint
      - name: ESLint
        run: yarn eslint
      - name: Tests
        run: |
          node -v
          yarn test
